.h1 {

  color:rgb(153, 241, 153);
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  


}

.panini{

  /* border: 2px solid black; */
  padding: 25px;
  padding-top: 25px;
  
   
    

}

body {

align-items: center;
padding:100px;
background-image: url("https://production-cdn.patternbank.com/uploads/media/sources/000/005/373/1638374946/original/premium-header-2.jpg?1638374946")

}

.sidebar {
  width: 400px;
  background-color: rgb(194, 145, 41);
  border: 5px solid rgb(0, 0, 0);
  padding:left 500px;
  margin:left 500px;
  align-items: center;
  border-width: 3px;
  
 
  
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;1
}
 .animal {
      font-size: small;
      font-family:'Times New Roman', Times, serif;
      padding-bottom: 20px;

 }
  




img {
  width: 400px;
  height: auto;
  border:2px solid black;
  padding:10px;
  margin:15px;
  background-color: aliceblue;
}

.sidebar2 {

  width: 300px;
  height: 100px;
  z-index: 99;
  background-color: rgb(204, 95, 95);
  margin-left: px;
  margin-right:500px;
  border: 3px solid black;
}

h4 {
margin:30px;
background-color: 
width:200px;

}