.h1 {

  color:rgb(2, 37, 2);
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  


}

.container{
   
    

}

body {
background-color:  green;

}

.sidebar {
  width: 20%;
  float: top left;
  background-color: rgb(194, 145, 41);
  border: 5px solid rgb(0, 0, 0);
  padding:left 10px;
  margin:left 20px;

  border-width: 5px;
  
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;1
}
 .animal {
      font-size: small;
      font-family:'Times New Roman', Times, serif;
      padding-bottom: 20px;

 }
  




img {
  width: 400px;
  height: auto;
  border:2px solid black;
  padding:10px;
  margin:15px;
  background-color: aliceblue;
}

.sidebar2 {
  width: 20%;
  float: center;
  background-color: rgb(194, 145, 41);
  border: 5px solid rgb(0, 0, 0);
  padding: 10px;
  margin:auto
  border-width: 5px;
  
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;1
}
